:root {
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);
  --yellow: hsl(47, 88%, 63%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--yellow);
  font-family: "Figtree", sans-serif;
  line-height: 1.5;
  font-weight: 500;
}

img {
  width: 100%;
  display: block;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--white);
  max-width: 384px;
  max-height: 522px;
  height: auto;
  border-radius: 1.25rem;
  box-shadow: 7px 7px 1px black;
  border: 1px solid black;
  padding: 1.2rem;
}

.container:hover {
  box-shadow: 12px 12px 1px black;
}

.main-img img {
  border-radius: 0.625rem;
}

h1 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

h1:hover {
  color: var(--yellow);
  cursor: pointer;
}

.bold-highlight {
  font-weight: 800;
}

.main-text p:first-child {
  margin-top: 1.5rem;
}

.main-text p:nth-child(2) {
  margin-top: 1rem;
}

.main-text p:last-child {
  color: var(--grey);
  margin-bottom: 1rem;
}

p:first-child {
  background-color: var(--yellow);
  display: inline-block;
  padding: 0.2rem 0.7rem;
  border-radius: 0.25rem;
}

.author {
  margin-bottom: 2rem;
}

.author ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.author ul img {
  width: 2rem;
  height: auto;
  margin-right: 0.7rem;
  padding-top: 0.3rem;
  z-index: 2;
}

@media (max-width: 768px) {
  main {
    padding-left: 2rem;
    padding-right: 3rem;
  }
}
/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */
